$color1 : rgb(0, 176, 240);
$color2 : rgb(0, 170, 225);
$color3 : rgb(80, 136, 155);
$color4 : rgb(0, 157, 217);
$color5 : rgb(56, 187, 240);

$color-transparent: rgba(0, 0, 0, 0.2);
$panel-background: rgb(248, 248, 248);


//Bootstrap Overrides
